* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
  background-image: linear-gradient(
      rgba(92, 92, 177, 0.2),
      rgba(244, 106, 231, 0.1),
      rgba(244, 106, 231, 0.3)
    ),
    url(assets/background.png);
  background-attachment: fixed;
}

body {
  margin: 0px;
  font-family: "Shadows Into Light";
  font-family: "Gloria Hallelujah";
  font-family: "Fuggles";
  font-family: "Caveat";
  font-family: "Indie Flower";
  font-family: "Philosopher", sans-serif;
  display: flex;
  justify-content:space-between;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100vh;
}

header {
  padding: 20px 0;
  height: 10%;
  width: 100%;
}

header a {
  text-decoration: none;
}

header img {
  height: 75%;
  aspect-ratio: 1;
  margin: 0px 50px;
}

.tictactoegame {
  display: flex;
  justify-content: center;
  width: 100%;
  flex: 1;
  padding-top: 50px;
}

.select-box,
.play-board,
.result-box {
  transition: all 0.3s ease;
  width: 70%;
}

.select-box {
  background: #fff;
  padding: 20px 25px 25px;
  border-radius: 5px;
  max-height: 350px;
}

.select-box.hide {
  display: none;
  pointer-events: none;
}

.select-box top {
  font-size: 40px;
  font-weight: 600;
  padding-bottom: 10px;
  border-bottom: 1px solid lightgrey;
}

.select-box .title {
  font-size: 30px;
  font-weight: 500;
  margin: 20px 0;
}

.select-box .options {
  display: flex;
  width: 100%;
}

.select-box .difficulty {
  padding-top: 10px;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.select-box .credit {
  text-align: center;
  margin-top: 20px;
  font-size: 18px;
  font-weight: 500;
}

.select-box .credit a {
  color: #5c5cb1;
  text-decoration: none;
}

.select-box .credit a:hover {
  text-decoration: underline;
}

.options button {
  width: 100%;
  font-size: 30px;
  font-weight: 500;
  padding: 15px;
  border: none;
  background: #5c5cb1;
  border-radius: 5px;
  color: #fff;
  outline: none;
  cursor: pointer;
  transition: all 0.3s ease;
}

.options button:hover,
.difficulty button:hover,
.btn button:hover {
  transform: scale(0.96);
}

.options button.playerX {
  margin-right: 5px;
}

.options button.playerO {
  margin-left: 5px;
}

.difficulty button {
  font-size: 25px;
  margin: 5px;
  height: 60px;
  font-weight: 500;
  padding: 15px 20px;
  border: none;
  background: #cc6ce3;
  border-radius: 5px;
  color: #fff;
  outline: none;
  cursor: pointer;
  transition: all 0.3s ease;
  flex: 1;
}

.impossible_div {
  display: flex;
  flex-direction: column;
  width: 45%;
}

.difficulty button:disabled {
  background-color: #c235e5;
  transition: none;
  transform: none;
}

.alphabeta {
  display: none;
  justify-content: space-evenly;
}

.alphabeta button {
  display: flex;
  font-size: 100%;
  height: 40px;
  align-items: center;
  text-align: center;
  background-color: rgb(200, 110, 167);
  justify-content: center;
}

.alphabeta button:disabled {
  background-color: rgb(197, 37, 138);
}

.play-board {
  display: none;
  pointer-events: none;
}

.play-board.show {
  display: block;
  pointer-events: auto;
  width: 60%;
}

.play-board .details {
  padding: 7px;
  border-radius: 5px;
  background: #fff;
}

.play-board .players {
  width: 100%;
  display: flex;
  position: relative;
  justify-content: space-between;
}

.players span {
  position: relative;
  z-index: 2;
  color: #5c5cb1;
  font-size: 20px;
  font-weight: 500;
  padding: 10px 0;
  width: 100%;
  text-align: center;
  cursor: default;
  user-select: none;
  transition: all 0.3 ease;
}

.players.active span:first-child {
  color: #fff;
}

.players.active span:last-child {
  color: #5c5cb1;
}

.players span:first-child {
  color: #fff;
}

.players .slider {
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  background: #5c5cb1;
  border-radius: 5px;
  transition: all 0.3s ease;
}

.players.active .slider {
  left: 50%;
}

.players.active span:first-child {
  color: #5c5cb1;
}

.players.active span:nth-child(2) {
  color: #fff;
}

.players.active .slider {
  left: 50%;
}

.play-area {
  margin-top: 20px;
}

.play-area section {
  display: flex;
  margin-bottom: 1px;
}

.play-area section span {
  display: grid;
  width: 33%;
  aspect-ratio: 1;
  margin: 2px;
  color: #5c5cb1;
  font-size: 600%;
  font-weight: bold;
  text-align: center;
  border-radius: 5px;
  background: #fff;
  align-items: center;
}

.result-box {
  padding: 25px 20px;
  border-radius: 5px;
  max-width: 400px;
  width: 100%;
  max-height: 400px;
  display: none;
  text-align: center;
  background: #fff;
  pointer-events: none;
}

.result-box.show {
  display: block;
  pointer-events: auto;
}

.result-box .won-text {
  font-size: 40px;
  font-weight: 500;
  display: flex;
  justify-content: center;
}

.result-box .won-text p {
  font-weight: 600;
  margin: 0 5px;
}

.result-box .btn {
  margin: 25px;
  display: flex;
  justify-content: center;
}

.btn button {
  font-size: 20px;
  font-weight: 500;
  padding: 10px 22px;
  border: none;
  background: #5c5cb1;
  border-radius: 5px;
  color: #fff;
  outline: none;
  cursor: pointer;
  transition: all 0.3s ease;
}

.review {
  padding-top: 15px;
}

.review button {
  font-size: 15px;
  font-weight: 500;
  padding: 10px 18px;
  background: #fff;
  border-radius: 5px;
  border: solid 1px #5c5cb1;
  color: #5c5cb1;
  outline: none;
  cursor: pointer;
  transition: all 0.3s ease;
}

.review-box {
  padding: 15px;
  border-radius: 10px;
  width: 70%;
  max-height: 350px;
  display: none;
  background: #fff;
  pointer-events: none;
}

.review-box p {
  font-size: 18px;
  padding: 5px;
  color: #5c5cb1;
}

.review-box h3 {
  font-size: 25px;
  font-weight: bold;
  padding: 15px;
  color: #5c5cb1;
}

.review-box h3 span {
  font-size: 25px;
  font-weight: bold;
  padding: 15px;
  color: #f46ae7;
}

.review-box.show {
  display: flex;
  pointer-events: auto;
  align-items: center;
  flex-direction: column;
}

.review-box button {
  font-size: 20px;
  font-weight: 500;
  padding: 12px 20px;
  margin-bottom: 10px;
  background: #fff;
  border-radius: 5px;
  border: solid 2px #5c5cb1;
  color: #5c5cb1;
  cursor: pointer;
  transition: all 0.3s ease;
}

footer {
  width: 100%;
  display: flex;
  justify-content: center;
  text-align: center;
}

footer a {
  color: #fff;
}

#github {
  font-size: 20px;
}

footer div {
  border: #fff 2px;
  border-top-left-radius: 20px;
  border-bottom-right-radius: 20px;
  margin-bottom: 10px;
  border-style: outset;
  padding: 10px 50px;
}

footer p {
  padding: 8px;
  font-size: 25px;
  padding-left: 20px;
  color: #fff;
}

@media screen and (max-width: 800px) {
  header img {
    height: 200px;
    width: 200px;
  }
  footer p {
    font-size: 20px;
    padding: 20px;
    padding-left: 40px;
  }
}
